.parent{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../Photo/pexels-suissounet-2101187.jpg);
    background-size: cover;
    background-position:center;
}
.child{
    padding: 25px;
    b
}